<% include partials/header %>
	<h1>courses page!</h1>
	<div class = "container">
		<p>
	   		<a class = "btn btn-primary btn-lg" href = "/knownager/new">Add new Courses</a>     
    	</p>
    	<% courses.forEach(function(course){ %>
    		<div>
    			<h2><%= course.name%></h4>
    		</div>
    		<div>
    			<h3><%= course.description%></h3>
    		</div>
    	<% }) %>
    </div>
<% include partials/footer %>