<html >
	<head>
        <title>Knownager</title>
        <link rel = "stylesheet", href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>
<div class="jumbotron jumbotron-fluid" id="welcome">
	<h1 class = "text-center">Welcome to Knownager</h1>
</div>
<div>
<div class = "container text-center">
	<h1 style="font-family:Lucida Console;">Already a user?</h2>
	<a style="width:100px;margin-top:20px;" href="/login" role="button" class="btn btn-primary btn-default" >Login</a>
</div>

<div style="margin-top:80px"class = "container text-center">
	<h1 style="font-family:Lucida Console;">New to Knownager?</h2>
	<a style="width:100px;margin-top:20px;" href="/register" role="button" class="btn btn-info btn-default">Sign up</a>
</div>
</div>
	</body>
</html>