<% include ../partials/header %>
	<h1>Text page for <%=unit.name %></h1>
	<a class = "btn btn-primary btn-lg" href = "/courses">Go Back</a>
	<div class = "jumbotron jumbtron-fluid container">
        <p><%=unit.text%></p>
    </div>
<% include ../partials/footer %>